:root{
    --primary-color: #050507;
    --secondary-color: #FFFFFF;
    --third-color: #f98f2b;
    --faded-black: #14141a;
    --faded-black-rgb: 20, 20, 26;

    --nav-height: 7vh;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Imports */
@font-face{
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Bebas Neue Pro Regular';
    src: url('../fonts/BebasNeue-ProRegular.otf');
    font-weight: 400;
}

@font-face{
    font-family: 'Bebas Neue Pro Light';
    src: url('../fonts/BebasNeue-ProLight.otf');
    font-weight: 400;
}

@font-face{
    font-family: 'Bebas Neue Pro Thin';
    src: url('../fonts/BebasNeue-ProThin.otf');
    font-weight: 400;
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    background-color: var(--primary-color);
    color: white;
    cursor: crosshair;
}